* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto-Light.ttf";
  }
  html,body{
    height: 100%;
    width: 100%;
    
  }

  /* expandable div order.ejs */
  .expandable {
   
    transition: height 1.3s ease; /* Smooth transition */
}